/* Styles for https://awesomewm.org/
 * Source: https://github.com/awesomeWM/awesome-www
 * Originally created by Devit Schizoper (01.12.2006)
 */

:root {
  color-scheme: dark light;
  supported-color-schemes: dark light;
  --duration: 0.5s;
  --timing: ease;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: Noto Sans, Verdana, Arial, sans-serif;
  font-size: 0.9rem;
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--color);
}

body.expand {
  transition:
    color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

:any-link {
  color: var(--link-color);
}

figure {
  margin: 1rem 0;
}

figcaption {
  margin: 0.5rem 0;
}

.button_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

@media all and (min-width: 500px) {
  .button_container {
  flex-direction: row;
  }
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid var(--button-background-color);
  border-color: var(--button-background-color);
  color: var(--button-background-color);
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 30px;
  padding: 1.2em 2.2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
}
.btn:hover, .btn:focus {
  color: var(--button-hover-color);
  outline: 0;
}

.shine {
  border-color: var(--button-background-color);
  color: var(--button-text-color);
  box-shadow: 0 0 40px 40px var(--button-background-color) inset, 0 0 0 0 var(--button-background-color);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.shine:hover {
  box-shadow: 0 0 10px 0 var(--button-background-color) inset, 0 0 10px 4px var(--button-background-color);
}

p {
  margin: 11px 0 10px 0;
  padding: 0;
  text-align: justify;
  line-height: 1.5;
}

ul {
  margin:0;
  padding:0;
}

li::marker {
  color: var(--accent-background-color);
}

#arrow li {
  background: url(/images/arrow.svg) no-repeat left;
  background-size: 8px;
  padding: 3px 0px 3px 18px;
  list-style: none;
  margin: 0;
}

h1 {
  color: var(--main-headline-color);
  font-size: 1.9rem;
  line-height: 1;
}

a {
  color: var(--link-color);
}

ul.active-menu-about li.menu-about,
ul.active-menu-download li.menu-download,
ul.active-menu-community li.menu-community,
ul.active-menu-recipes li.menu-recipes,
ul.active-menu-screenshots li.menu-screenshots,
ul.active-menu-doc li.menu-doc {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

blockquote {
  background: var(--background-color);
  color: var(--color);
  padding: 10px;
}

.align_center {
  text-align: center;
}

.align_right {
  display: block;
  text-align: right;
}

/**** Main Container ***/

#wrap {
  height: 100%;
  width: 100%;
}

/**** Top ***/

#top {
  display: inline-block;
  font-family: Noto Sans, Verdana, Arial;
  font-size: 1.0em;
  margin-left: 0;
  overflow: hidden;
  width: 100%;
}

#top h2 {
  display: block;
  float: left;
  font-size: 3.0em;
  font-weight: bold;
  letter-spacing: 3px;
  margin-right: 20px;
  position: relative;
  top: 5px;
}

#top h2 a {
  text-decoration: none;
}

#top h2 a:hover {
  color: var(--menu-hover-color);
}

/**** Center Logo ****/

#center-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 40%;
  max-width: 800px;
}

/**** Main Menu ***/

#menu {
  display: inline-block;
  height: 50px;
  width: 100%;
}

#menu ul {
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
}

#menu ul {
  float: right;
}

#menu ul {
  list-style: none;
}

#menu li {
  display: block;
  float: left;
}

#menu li a {
  display: block;
  font-size: 0.99em;
  font-weight: bold;
  padding: 20px 15px 50px 15px;
  text-decoration: none;
}

* html #menu a {
  width: 1%;
}

#menu li a:hover {
  color: var(--menu-hover-color);
}

#menu li a.current {
  color: var(--menu-hover-color);
  letter-spacing: 1px;
}

/**** Content Container ***/

#content {
  width: 100%;
}

#content h1 {
  margin: 0;
  padding: 10px 0 10px 0;
}

#content h2 {
  margin: 0;
  padding: 10px 0 10px 0;
}


/**** Content ***/

.screenshot img {
  border: 5px solid var(--screenshot-border-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  max-width: 1024px;
}

iframe {
  border: 5px solid var(--screenshot-border-color);
}

#left ul {
  margin: 0;
  padding: 15px 0 15px 35px;
}

#left li {
  margin-bottom: 5px;
}

#left {
  display: block;
  display: inline;
  float: left;
  margin-left: 20%;
  width: 60%;
}


#nav {
  float: right;
  list-style: none;
  margin: 2.0em 0;
  width: 25em;
}

#nav li {
  padding: 0;
  margin: 0;
}

#nav a {
  background-color: #F7F9FB;
  border-bottom: 2px;
  border-top: 2px;
  display: block;
  font-weight: bold;
  height: 2.0em;
  padding: 0.3em 0.3em 0.3em 0.8em;
  text-decoration: none;
}

#nav a:hover {
  background: url(/images/bg_t.gif) no-repeat;
  background-color: #fff;
  color: #1a1a1a;
  font-weight: bold;
}

/**** Clear Div ***/

#clear {
  clear: both;
  display: block;
  height: 1px;
  overflow: hidden;
  width: 100%;
}


/**** Footer ***/

#pageinfo {
  border-top: 0;
  margin: 0 0;
}

#footer {
  border-top: dashed 1px gray;
  margin: 40px auto 0 auto;
  padding: 20px 0 20px 0;
  text-align: center;
  width: 70%;
}

#footer p {
  margin: 0;
  padding: 0;
}

#donate {
  margin: 1em 0;
  text-align: center;
}

#donate p,
#donate div {
  text-align: center;
}

.standout {
  font-size: larger;
  font-weight: bold;
  color: #A94442;
}

.standout a {
  color: #A94442;
}

/* vim: set sw=2 et: */