/* ======================================================== */
/*	Created by Devit Schizoper 								*/
/*	Created HomePages http://LoadFoo.starzonewebhost.com	*/
/*	Created Day 01.12.2006 									*/
/* ======================================================== */


body {
	background: url(/images/top_bg.gif);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, sans-serif;
        font-size: 0.8em;
}

p {
        text-align: justify;
	margin: 11px 0 10px 0;
	padding: 0px;
}

h2 {
	color: #347272;
	margin:0px;
	padding:0px;
	font-size: 15px;
}

ul {
	margin:0;
	padding:0;
	list-style-image: url(/images/bullet.gif);
}

a {
	color: #347272;
}

a:hover {
	text-decoration: none;
}

blockquote{
	background: #F7FDE3;
	color: #606060;
	padding: 10px;
}


/**** Main Container ***/


#wrap {
       margin-left: auto;
       margin-right: auto;
       width: 730px;
}


/**** Top ***/


#top {
	font-size: 0.8em;
	width: 100%;
	height: 68px;
	color: #fff;
	/*background: #000 url(/images/top_bg.gif);*/
	overflow:hidden;
}

#top h2 {
	color: White;
	letter-spacing: 3px;
	font-size: 2.0em;
	font-weight: bold;
	position: relative;
	margin: 0px;
	top:33px;
	display:block;
	float:left;
	background: url(/images/bg_t.gif) no-repeat;
	padding-left: 10px;
}

#top h2 a {
	color: white;
	text-decoration: none;
}

#top h2 a:hover {
        color: #347272;
}


/**** Main Menu ***/


#menu {
	display: block;
	float:right;
}

#menu ul {
	margin: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
	white-space: nowrap;
}

#menu li a {
	display: block;
	padding: 15px 10px 12px 10px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

* html #menu a {width:1%;}

#menu li a:hover {
	background: url(/images/bg_menu.gif);
}

#menu li a.current {
	letter-spacing: 1px;
	color: gray;
	background: url(/images/bg_menu.gif);
}

#menu li a.current:hover {
	color: #fff;
}


/**** Content Container ***/


#content {
	width: 100%;
	margin-top:30px;
}

#content h1 {
	margin: 0;
	padding: 10px 0 10px 0;
}

#content h2 {
	margin: 0;
	padding: 10px 0 10px 0;
}


/**** Content ***/

#logo { float: right; margin: 32px 32px 32px 32px; }
#screenshot { text-align: center; margin: 32px 32px 32px 32px; }
#screenshot img { border: 2px solid #347272; }

#left ul {
	padding: 15px 0 15px 35px;
	margin:0;
}

#left li {
	margin-bottom:5px;
}

#left {
	width: 700px;
	float:left;
	display: block;
        margin-left: 20px;
	display: inline;
}


/**** Sidebar ***/


#right {
	width: 0px; 
	float: right;
	display:block;
	margin-top: 10px;
}

#right .box {
	width: 24em;/*280px*/
	background: #F6F9FB;
	border: 1px solid #E1E1E1;
	padding:10px 10px 15px 10px;
	float: right;
}

#right .box h2 {
	font-size: 1.1em;
	margin: 0px 0 0px 0;
	padding:0px 0 5px 0;
}

#right .box a {
	margin: 10px 0 10px 0;
	color: #347272;
	font-size: 10px;
}

#right .box p {
	margin: 5px 0 10px 0;
	line-height: 15px;
}

#right .box ul {
	padding: 0 0 7px 20px;
	margin:10px 0 10px 0;
}

#right .box li {
	margin-top:5px;
}

#nav{ list-style: none; margin: 2.0em 0; width: 25em; float: right;}
#nav li{ padding: 0; margin: 0; }
#nav a{
	display: block;
	height: 2.0em;
	padding: 0.3em 0.3em 0.3em 0.8em;
	border-bottom: 2px; /*solid #1a1a1a*/
	border-top: 2px; /*solid #1a1a1a*/
	color: #347272;
	background-color: #F7F9FB;
	font-weight: bold;
	text-decoration: none;
	}

#nav a:hover{
	color: #1a1a1a;
	background: url(/images/bg_t.gif) no-repeat;
	background-color: #fff;
	font-weight: bold;
	}	

/**** Clear Div ***/


#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}


/**** Footer ***/

#pageinfo
{
    margin: 0em 0;
    border-top: 0;
}

#footer {
        margin: 40px auto 0 auto;
	text-align: center;
	border-top: dashed 1px gray;
	padding: 20px 0 20px 0;
	width: 70%;
}

#footer p {
	margin: 0px;
	padding: 0;
}

.flattr {
    float: right;
}