/* ======================================================== */
/*	Created by Devit Schizoper 								*/
/*	Created HomePages http://LoadFoo.starzonewebhost.com	*/
/*	Created Day 01.12.2006 									*/
/* ======================================================== */


body {
	margin: 0px;
	width: 100%;
	color: black;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.8em;
}

p {
        text-align: justify;
	margin: 11px 0 10px 0;
	padding: 0px;
}

ul {
	margin:0;
	padding:0;
	list-style-image: url(images/bullet.gif);
}

h1 {
	color: #3f4c4b;
}

a {
	color: #006699;
}

ul.active-menu-about li.menu-about,
ul.active-menu-download li.menu-download,
ul.active-menu-community li.menu-community,
ul.active-menu-recipes li.menu-recipes,
ul.active-menu-screenshots li.menu-screenshots {
ul.active-menu-doc li.menu-doc,

        text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

blockquote{
	background: #F7FDE3;
	color: #606060;
	padding: 10px;
}

/**** Main Container ***/


#wrap {
       width: 100%;
       height: 100%;
}


/**** Top ***/


#top {
	font-size: 1.0em;
	width: 100%;
	margin-left: 0;
	overflow:hidden;
	display: inline-block;
}

#top h2 {
	letter-spacing: 3px;
	font-size: 3.0em;
	font-weight: bold;
	position: relative;
	/* margin: 0px; */
	top: 5px;
	margin-right: 20px;
	display:block;
	float:left;
}

#top h2 a {
	text-decoration: none;
}

#top h2 a:hover {
	color: black;
}

/**** Center Logo ****/

#center-logo img {
        padding-top: 20px;
        width: 20%;
        margin-left: 40%;

}

/**** Center Logo ****/

#center-logo img {
        padding-top: 20px;
        width: 20%;
        margin-left: 40%;
}

/**** Center Logo ****/

#center-logo img {
        padding-top: 20px;
        width: 20%;
        margin-left: 40%;

}


/**** Main Menu ***/


#menu {
        display: inline-block;
        width: 100%;
        height: 110px;
}

#menu ul {
        overflow: auto;
	display: flex;
    	justify-content: center;
	width: 100%;
}

#menu ul {
        float: right;
}

#menu ul {
	list-style: none;
}

#menu li {
	display: block;
	float: left;
}

#menu li a {
	display: block;
	font-size: 0.99em;
	padding: 20px 15px 50px 15px;
	text-decoration: none;
	font-weight: bold;
}

* html #menu a {width:1%;}

#menu li a:hover {
	color: black;
}

#menu li a.current {
	letter-spacing: 1px;
	color: gray;
}

/**** Content Container ***/

#content {
	width: 100%;
	margin-top:30px;
}

#content h1 {
	margin: 0;
	padding: 10px 0 10px 0;
}

#content h2 {
	margin: 0;
	padding: 10px 0 10px 0;
}


/**** Content ***/

.screenshot { text-align: center; margin: 32px 32px 32px 32px; }
.screenshot img { border: 2px solid #347272; }

.screenshot p {
        padding-left: 80px;
}

#left ul {
	padding: 15px 0 15px 35px;
	margin:0;
}

#left li {
	margin-bottom:5px;
}

#left {
	width: 60%;
	float:left;
	display: block;
        margin-left: 20%;
	display: inline;
}


/**** Sidebar ***/


#right {
	width: 0px;
	float: right;
	display:block;
	margin-top: 10px;
}

#right .box {
	width: 24em;/*280px*/
	background: #F6F9FB;
	border: 1px solid #E1E1E1;
	padding:10px 10px 15px 10px;
	float: right;
}

#right .box h2 {
	font-size: 1.1em;
	margin: 0px 0 0px 0;
	padding:0px 0 5px 0;
}

#right .box a {
	margin: 10px 0 10px 0;
	font-size: 10px;
}

#right .box p {
	margin: 5px 0 10px 0;
	line-height: 15px;
}

#right .box ul {
	padding: 0 0 7px 20px;
	margin:10px 0 10px 0;
}

#right .box li {
	margin-top:5px;
}

#nav{ list-style: none; margin: 2.0em 0; width: 25em; float: right;}
#nav li{ padding: 0; margin: 0; }
#nav a{
	display: block;
	height: 2.0em;
	padding: 0.3em 0.3em 0.3em 0.8em;
	border-bottom: 2px; /*solid #1a1a1a*/
	border-top: 2px; /*solid #1a1a1a*/
	background-color: #F7F9FB;
	font-weight: bold;
	text-decoration: none;
	}

#nav a:hover{
	color: #1a1a1a;
	background: url(images/bg_t.gif) no-repeat;
	background-color: #fff;
	font-weight: bold;
	}

/**** Clear Div ***/


#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}


/**** Footer ***/

#pageinfo
{
    margin: 0em 0;
    border-top: 0;
}

#footer {
        margin: 40px auto 0 auto;
	text-align: center;
	border-top: dashed 1px gray;
	padding: 20px 0 20px 0;
	width: 70%;
}

#footer p {
	margin: 0px;
	padding: 0;
}

#donate {
        margin: 1em 0;
        text-align: center;
}
#donate p, #donate div {
        text-align: center;
}
