<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <title>
        <TMPL_VAR TITLE> - awesome window manager
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="supported-color-schemes" content="dark light">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="">

    <link rel="stylesheet" type="text/css" href="<TMPL_VAR BASEURL>style.css">
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR BASEURL>css/mode-switch.css">
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR BASEURL>css/local.css" />
    <link id="css-lightmode" rel="stylesheet" type="text/css" href="<TMPL_VAR BASEURL>css/light.css"
        media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)" />
    <link id="css-darkmode" rel="stylesheet" type="text/css" href="<TMPL_VAR BASEURL>css/dark.css"
        media="(prefers-color-scheme: dark)" />

    <script src="<TMPL_VAR BASEURL>/script/dark-light-mode.js"></script>

    <link rel="icon" href="<TMPL_VAR BASEURL>images/icons/aw_16.png" type="image/png" />

    <TMPL_IF NAME="FEEDLINKS">
        <TMPL_VAR FEEDLINKS>
    </TMPL_IF>
    <TMPL_IF NAME="META">
        <TMPL_VAR META>
    </TMPL_IF>
</head>
<body>
    <div id="wrap">
        <a href="https://github.com/awesomeWM/awesome"><img style="position: absolute; top: 0; left: 0; border: 0;"
                src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67"
                alt="Fork me on GitHub"
                data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
        <div id="top">
            <TMPL_IF NAME="SEARCHFORM">
                <TMPL_VAR SEARCHFORM>
            </TMPL_IF>
            <div class="darkmode" id="center-logo">
                <a href="<TMPL_VAR BASEURL>index.html" title="Back to main page">
                    <img alt="awesome-logo" src="<TMPL_VAR BASEURL>images/awesome-dark-1.svg">
                </a>
            </div>
            <div class="lightmode" id="center-logo">
                <a href="<TMPL_VAR BASEURL>index.html" title="Back to main page">
                    <img alt="awesome-logo" src="<TMPL_VAR BASEURL>images/awesome2.svg">
                </a>
            </div>


            <div id="menu">
                <ul class="active-menu-<TMPL_VAR NAME="title">">
                    <li class="menu-about"><a href="<TMPL_VAR BASEURL>index.html">home</a></li>
                    <li class="menu-download"><a href="<TMPL_VAR BASEURL>download/">download</a></li>
                    <li class="menu-community"><a href="<TMPL_VAR BASEURL>community/">community</a></li>
                    <li class="menu-recipes"><a href="<TMPL_VAR BASEURL>recipes/">recipes</a></li>
                    <li class="menu-screenshots"><a href="<TMPL_VAR BASEURL>screenshots/">screenshots</a></li>
                    <li class="menu-doc"><a href="<TMPL_VAR BASEURL>doc/">doc</a></li>
                    <li class="menu-issues"><a href="https://github.com/awesomeWM/awesome/issues">bugs/issues</a></li>
                </ul>
            </div>
        </div>

        <div id="content">
            <div id="left">
                <TMPL_VAR CONTENT>
            </div>
        </div>
    </div>

    <div id="clear"></div>

    <div id="footer">
        <div id="pageinfo">
            <div class="darkmode">
                <img alt="15years anniversary" src="<TMPL_VAR BASEURL>images/awesome-15yrs-anniversary-dark.svg" width="250">
            </div>    
            <div class="lightmode">
                <img alt="15years anniversary" src="<TMPL_VAR BASEURL>images/awesome-15yrs-anniversary.svg" width="250">
            </div>    
            <script type='text/javascript'
                src='https://www.openhub.net/p/awesome/widgets/project_factoids_stats?format=js'></script>

            <div id="donate">
                <strong>Donations:</strong>
                <div>
                    <script
                        id='fbirvwx'>(function (i) { var f, s = document.getElementById(i); f = document.createElement('iframe'); f.src = 'https://button.flattr.com/view/?fid=mqwonm&button=compact&url=https%3A%2F%2Fawesomewm.org%2F'; f.title = 'Flattr'; f.height = 20; f.width = 110; f.style.borderWidth = 0; s.parentNode.insertBefore(f, s); })('fbirvwx');</script>
                </div>
                <p>Bitcoin: 1A2LsrF81rWEEJ7qnXdkCUJpdCYUxqfQoP</p>
            </div>

            <div class="copyright">
                <a id="pagecopyright"></a>
                <TMPL_IF COPYRIGHT>
                    <TMPL_VAR COPYRIGHT>
                </TMPL_IF>
                Copyleft 2007-2022, AwesomeWM project
            </div>
            <TMPL_IF LICENSE>
                <div class="license">
                    <a name="pagelicense"></a>
                    License: <TMPL_VAR LICENSE>
                </div>
            </TMPL_IF>

            <div class="pagedate">
                Last edited <TMPL_VAR NAME=MTIME>
            </div>

        </div>
    </div>

    <!-- dark/light support -->
    <ul class="mode-switch">
        <li class="mode-switch-icon"></li>
        <li><label class="switch"><input type="checkbox"><span class="slider round"></span></label></li>
    </ul>
    <script src="<TMPL_VAR BASEURL>script/dark-light-mode-switch.js"></script>
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setCookieDomain", "*.awesomewm.org"]);
        _paq.push(["setDomains", ["*.awesomewm.org"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://piwik.awesomewm.org/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', 26]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript>
        <p><img src="https://piwik.awesomewm.org/piwik.php?idsite=26" style="border:0;" alt="" /></p>
    </noscript>
</body>
</html>