<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><TMPL_VAR TITLE> - awesome window manager</title>
<link rel="icon" href="<TMPL_VAR BASEURL>images/icons/aw_16.png" type="image/png" />
<link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
<link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
<TMPL_IF NAME="FEEDLINKS"><TMPL_VAR FEEDLINKS></TMPL_IF>
<TMPL_IF NAME="META"><TMPL_VAR META></TMPL_IF>
</head>
<body>

<div id="wrap">
    <div id="top">
        <h2><a href="<TMPL_VAR BASEURL>index.html" title="Back to main page">awesome</a></h2>
        <TMPL_IF NAME="SEARCHFORM">
            <TMPL_VAR SEARCHFORM>
        </TMPL_IF>
        <div id="menu">
            <ul>
                <li><a href="<TMPL_VAR BASEURL>index.html">home</a></li>
                <li><a href="<TMPL_VAR BASEURL>download/">download</a></li>
                <li><a href="<TMPL_VAR BASEURL>community/">community</a></li>
                <li><a href="<TMPL_VAR BASEURL>apidoc/">doc (git/master)</a></li>
                <li><a href="<TMPL_VAR BASEURL>doc/">doc (v4.0)</a></li>
                <li><a href="https://github.com/awesomeWM/awesome/issues">bugs/issues</a></li>
            </ul>
        </div>
    </div>

    <TMPL_IF NAME="HAVE_ACTIONS">
        <div class="actions">
        <ul>
            <TMPL_IF NAME="EDITURL">
                <li><a href="<TMPL_VAR EDITURL>">Edit</a></li>
            </TMPL_IF>
            <TMPL_IF NAME="RECENTCHANGESURL">
                <li><a href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a></li>
            </TMPL_IF>
            <TMPL_IF NAME="HISTORYURL">
                <li><a href="<TMPL_VAR HISTORYURL>">History</a></li>
            </TMPL_IF>
            <TMPL_IF NAME="PREFSURL">
                <li><a href="<TMPL_VAR PREFSURL>">Preferences</a></li>
            </TMPL_IF>
            <TMPL_IF NAME="DISCUSSIONLINK">
                <li><TMPL_VAR DISCUSSIONLINK><br /></li>
            </TMPL_IF>
        </ul>
        </div>
    </TMPL_IF>

    <TMPL_IF SIDEBAR>
        <div id="sidebar">
            <TMPL_VAR SIDEBAR>
        </div>
    </TMPL_IF>

    <div id="content">
    <!--    <h1><TMPL_VAR TITLE></h1> -->
        <div id="left">
          <TMPL_VAR CONTENT>
        </div>
        <!--
        <div id="right">
            <ul id="nav">
                <li><a href="/">home</a></li>
            </ul>
            <div class="box">
                <h2 style="margin-top:17px">Latest news</h2>
                <ul>
                    <li><a href="#">Recent Entries1</a> <i>01 Des 06</i></li>
               </ul>
            </div>
       </div>
        -->
    </div>
</div>

<div id="clear"></div></div>

<div id="footer">
    <div id="pageinfo">

    <TMPL_IF NAME="TAGS">
        <div class="tags">
            Tags:
            <TMPL_LOOP NAME="TAGS">
                <TMPL_VAR NAME=LINK>
            </TMPL_LOOP>
        </div>
    </TMPL_IF>

    <script type='text/javascript' src='https://www.openhub.net/p/awesome/widgets/project_factoids_stats?format=js'></script>

    <div id="donate">
      <strong>Donations:</strong>
      <div>
      <script id='fbirvwx'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='https://button.flattr.com/view/?fid=mqwonm&button=compact&url=https%3A%2F%2Fawesomewm.org%2F';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbirvwx');</script>
      </div>
      <p>Bitcoin: 1A2LsrF81rWEEJ7qnXdkCUJpdCYUxqfQoP</p>
    </div>

    <div class="copyright">
        <a name="pagecopyright"></a>
        <TMPL_IF COPYRIGHT>
            <TMPL_VAR COPYRIGHT>
        </TMPL_IF>
        Copyleft 2007-2015, awesome project
    </div>
    <TMPL_IF LICENSE>
        <div class="license">
            <a name="pagelicense"></a>
            License: <TMPL_VAR LICENSE>
        </div>
    </TMPL_IF>

    <div class="pagedate">
        Last edited <TMPL_VAR NAME=MTIME>
    </div>

    </div>
<TMPL_IF EXTRAFOOTER><TMPL_VAR EXTRAFOOTER></TMPL_IF>
<!-- from <TMPL_VAR NAME=WIKINAME> -->
</div>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.awesomewm.org"]);
  _paq.push(["setDomains", ["*.awesomewm.org"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://piwik.awesomewm.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 26]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://piwik.awesomewm.org/piwik.php?idsite=26" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
