<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><TMPL_VAR TITLE> - awesome window manager</title>
<link rel="icon" href="/images/icons/aw_16.png" type="image/png" />
<link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
<link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
<TMPL_IF NAME="FEEDLINKS"><TMPL_VAR FEEDLINKS></TMPL_IF>
<TMPL_IF NAME="META"><TMPL_VAR META></TMPL_IF>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();//--><!]]>
</script>
</head>
<body>

<div id="wrap">
    <div id="top">
        <h2><a href="/" title="Back to main page">awesome</a></h2>
        <TMPL_IF NAME="SEARCHFORM">
            <TMPL_VAR SEARCHFORM>
        </TMPL_IF>
        <div id="menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/download/">download</a></li>
                <li><a href="/community/">community</a></li>
                <li><a href="/doc/">doc</a></li>
                <li><a href="https://github.com/awesomeWM/awesome/issues">bugs/issues</a></li>
                <li><a href="/bugs/">(old issues)</a></li>
                <li><a href="/wiki/">wiki</a></li>
            </ul>
        </div>
    </div>

    <TMPL_IF NAME="HAVE_ACTIONS">
        <div class="actions">
        <ul>
            <TMPL_IF NAME="EDITURL">
                <li><a href="<TMPL_VAR EDITURL>">Edit</a></li>
            </TMPL_IF>
            <TMPL_IF NAME="RECENTCHANGESURL">
                <li><a href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a></li>
            </TMPL_IF>
            <TMPL_IF NAME="HISTORYURL">
                <li><a href="<TMPL_VAR HISTORYURL>">History</a></li>
            </TMPL_IF>
            <TMPL_IF NAME="PREFSURL">
                <li><a href="<TMPL_VAR PREFSURL>">Preferences</a></li>
            </TMPL_IF>
            <TMPL_IF NAME="DISCUSSIONLINK">
                <li><TMPL_VAR DISCUSSIONLINK><br /></li>
            </TMPL_IF>
        </ul>
        </div>
    </TMPL_IF>

    <TMPL_IF SIDEBAR>
        <div id="sidebar">
            <TMPL_VAR SIDEBAR>
        </div>
    </TMPL_IF>

    <div id="content">
    <!--    <h1><TMPL_VAR TITLE></h1> -->
        <div id="left">
          <div class="flattr">
            <a class="FlattrButton" style="display:none;"
               href="http://awesome.naquadah.org"></a>
          </div>
          <TMPL_VAR CONTENT>
        </div>
        <!--
        <div id="right">
            <ul id="nav">
                <li><a href="/">home</a></li>
            </ul>
            <div class="box">
                <h2 style="margin-top:17px">Latest news</h2>
                <ul>
                    <li><a href="#">Recent Entries1</a> <i>01 Des 06</i></li>
               </ul>
            </div>
       </div>
        -->
    </div>
</div>

<div id="clear"></div></div>

<div id="footer">
    <div id="pageinfo">

    <TMPL_IF NAME="TAGS">
        <div class="tags">
            Tags:
            <TMPL_LOOP NAME="TAGS">
                <TMPL_VAR NAME=LINK>
            </TMPL_LOOP>
        </div>
    </TMPL_IF>

    <script type='text/javascript' src='https://www.openhub.net/p/awesome/widgets/project_factoids_stats?format=js'></script>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="julien@danjou.info">
<input type="hidden" name="item_name" value="awesome window manager">
<input type="hidden" name="no_shipping" value="0">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="currency_code" value="EUR">
<input type="hidden" name="tax" value="0">
<input type="hidden" name="lc" value="FR">
<input type="hidden" name="bn" value="PP-DonationsBF">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<a class="FlattrButton" style="display:none;" rev="flattr;button:compact;"
href="http://awesome.naquadah.org"></a>
    <div class="copyright">
        <a name="pagecopyright"></a>
        <TMPL_IF COPYRIGHT>
            <TMPL_VAR COPYRIGHT>
        </TMPL_IF>
        Copyleft 2007-2015, awesome project
    </div>
    <TMPL_IF LICENSE>
        <div class="license">
            <a name="pagelicense"></a>
            License: <TMPL_VAR LICENSE>
        </div>
    </TMPL_IF>

    <div class="pagedate">
        Last edited <TMPL_VAR NAME=MTIME>
    </div>

    </div>
<TMPL_IF EXTRAFOOTER><TMPL_VAR EXTRAFOOTER></TMPL_IF>
<!-- from <TMPL_VAR NAME=WIKINAME> -->
</div>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.awesomewm.org"]);
  _paq.push(["setDomains", ["*.awesomewm.org"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://piwik.awesomewm.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 26]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://piwik.awesomewm.org/piwik.php?idsite=26" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
